$textColor: #767676;
$darkTextColor: #565656;
$borderColor: #bfc0c1;
$fontFamily: verdana, geneva, tahoma, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 68px 15%;
  background-color: #f6f6f6;

  #list-wrapper {
    background-color: #fff;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: $borderColor solid 1px;
    box-shadow: 0 2px 8px 0 #00000026;

    #clear-completed-btn {
      height: 50px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-self: center;
      align-items: center;
      color: $textColor;
    }

    #clear-completed-btn:hover {
      cursor: pointer;
    }

    #list-header {
      display: flex;
      align-items: center;

      #list-title {
        margin: 15px 10px;
        font-weight: 300;
        font-size: 1.3rem;
        color: $darkTextColor;
      }

      img {
        margin-left: auto;
        margin-right: 10px;
        height: 15px;
      }
    }

    #tasks-content {
      display: flex;
      flex-direction: column;

      #input-section {
        position: relative;

        > input {
          width: 100%;
          appearance: none;
          border: $borderColor solid 1px;
          padding: 15px 10px;
        }

        img {
          position: absolute;
          height: 7px;
          right: 15px;
          top: 20px;
        }

        > input::placeholder {
          font-style: italic;
          font-size: 0.8rem;
        }
      }

      #tasks-section {
        .task-item {
          padding: 0 15px;
          gap: 5px;
          display: flex;
          border: $borderColor solid 1px;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          textarea {
            padding-top: 15px;
            padding-bottom: 15px;
            height: auto;
            width: 100%;
            font-size: 0.8rem;
            border-style: none;
            word-wrap: break-word;
            color: $textColor;
            outline: none;
            resize: none;
            background: transparent;
            box-shadow: none;
            overflow: hidden;
            appearance: none;
            vertical-align: middle;
          }

          textarea.completed {
            text-decoration: line-through;
          }

          img {
            margin-left: auto;
            height: 20px;
          }

          #delete-btn {
            display: none;
          }

          #drag-btn {
            display: none;
            cursor: move;
          }

          #delete-btn.show {
            display: block;
          }

          #drag-btn.show {
            display: block;
          }

          .checkbox:hover {
            cursor: pointer;
          }
        }

        .task-item.selected {
          background-color: lightyellow;
        }
      }
    }
  }
}
