* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, geneva, tahoma, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 68px 15%;
  background-color: #f6f6f6;
}

main #list-wrapper {
  background-color: #fff;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: #bfc0c1 solid 1px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 14.9%);
}

main #list-wrapper #clear-completed-btn {
  height: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  align-items: center;
  color: #767676;
}

main #list-wrapper #clear-completed-btn:hover {
  cursor: pointer;
}

main #list-wrapper #list-header {
  display: flex;
  align-items: center;
}

main #list-wrapper #list-header #list-title {
  margin: 15px 10px;
  font-weight: 300;
  font-size: 1.3rem;
  color: #565656;
}

main #list-wrapper #list-header img {
  margin-left: auto;
  margin-right: 10px;
  height: 15px;
}

main #list-wrapper #tasks-content {
  display: flex;
  flex-direction: column;
}

main #list-wrapper #tasks-content #input-section {
  position: relative;
}

main #list-wrapper #tasks-content #input-section > input {
  width: 100%;
  appearance: none;
  border: #bfc0c1 solid 1px;
  padding: 15px 10px;
}

main #list-wrapper #tasks-content #input-section img {
  position: absolute;
  height: 7px;
  right: 15px;
  top: 20px;
}

main #list-wrapper #tasks-content #input-section > input::placeholder {
  font-style: italic;
  font-size: 0.8rem;
}

main #list-wrapper #tasks-content #tasks-section .task-item {
  padding: 0 15px;
  gap: 5px;
  display: flex;
  border: #bfc0c1 solid 1px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main #list-wrapper #tasks-content #tasks-section .task-item textarea {
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
  width: 100%;
  font-size: 0.8rem;
  border-style: none;
  word-wrap: break-word;
  color: #767676;
  outline: none;
  resize: none;
  background: transparent;
  box-shadow: none;
  overflow: hidden;
  appearance: none;
  vertical-align: middle;
}

main #list-wrapper #tasks-content #tasks-section .task-item textarea.completed {
  text-decoration: line-through;
}

main #list-wrapper #tasks-content #tasks-section .task-item img {
  margin-left: auto;
  height: 20px;
}

main #list-wrapper #tasks-content #tasks-section .task-item #delete-btn {
  display: none;
}

main #list-wrapper #tasks-content #tasks-section .task-item #drag-btn {
  display: none;
  cursor: move;
}

main #list-wrapper #tasks-content #tasks-section .task-item #delete-btn.show {
  display: block;
}

main #list-wrapper #tasks-content #tasks-section .task-item #drag-btn.show {
  display: block;
}

main #list-wrapper #tasks-content #tasks-section .task-item .checkbox:hover {
  cursor: pointer;
}

main #list-wrapper #tasks-content #tasks-section .task-item.selected {
  background-color: lightyellow;
}
